body {
    background-color: hsl(212, 45%, 89%);
    min-height: 100dvh; 
    display: flex;
    flex-direction: column;
    margin: 0;
}

p {
    text-align: center
}

footer {
    margin-top: auto; 
}